.gallery {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.gallery__item {
    margin: 15px;
    border: 1px solid #eee;
    box-shadow: 0 1px 1px #434547;
}

.gallery-info {
    display: flex;
    justify-content: space-evenly;
}

.gallery__received-data {
    display: grid;
}

.gallery__image {
    width: 300px;
    height: 200px;
    object-fit: fill;
}
