.gallery {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}

.gallery-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.gallery-list__item {
    margin: 15px;
    border: 1px solid #eee;
    box-shadow: 0 1px 1px #434547;
}

.gallery-list__info {
    display: flex;
    justify-content: space-evenly;
}

.gallery-list__info__received-data {
    display: grid;
    justify-items: center;
}

.gallery-list__image {
    width: 300px;
    height: 200px;
    object-fit: fill;
}

.load-more {
    cursor: pointer;
    height: 50px;
    border-color: chocolate;
    border-radius: 15px;
    background-color: rgb(253, 237, 6);
}

.loading {
    background-image: url('../images/loading.gif');
}