<header>
  <div class="credits-block"><text class="credits-block__text">Thx for free API</text>
  <a href="https://pixabay.com/" class="credits"><img src="./images/pixabayLogo.svg" style="width:122px; height: 25px;"></a>
  </div>
  <form class="search-form">
      <input class="search-form__input" 
        type="text" 
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images...">
      </input>
      <button class="search-form__search-btn" type="submit">
          <text class="search-form__text">Search</text>
          <svg class="search-form__search-icon" width="16" height="14">
              <use href="./images/svgs_collection.svg#icon-search"></use>
          </svg>
      </button>
  </form>
</header>